* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Concert One", cursive;
  font-size: 16px;
}
header {
  padding: 10px;
  text-align: center;
  background: peru;
  color: white;
  border-bottom: 10px #879274;
}

.large-font {
  font-size: 3.5em;
  text-align: center;
}

#time {
  height: 55px;

  background: #13293d;
  color: #fff;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  background-color: white;
}
#start-over {
  background-color: #13293d;
  color: white;
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 2px;
  cursor: pointer;
}
#clear-score {
  background-color: #13293d;
  color: white;
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  float: left;
  font-size: 16px;
  margin: 3px 2px;
  cursor: pointer;
}

li {
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: steelblue;
  color: white;
  font-size: 1.5em;
  line-height: 1.5;
}
li button {
  float: left;
  border: none;
  height: 30px;
  cursor: pointer;
  background-color: steelblue;
  color: white;
  font-size: 1em;
}

li button:hover {
  background-color: #f15dfe;
}
.hidediv {
  display: none;
}

.showdiv {
  display: block;
}
#score-section {
  text-align: center;
}
